@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}
/*
 * @Author: lxj
 * @Date: 2022/2/17/16:01
 */
// main-container global css
.app-container {
  padding: 10px;
}
.f-title{
  font-size: 15px;
  color: #999595;
  font-weight: bold;
}
.l-text{
  font-size: 13px;
  color: #999595;
}
.mt-10{
  margin-top: 10px;
}
.mb-10{
  margin-bottom: 10px;
}
.ml-10{
  margin-left: 10px;
}
.mr-10{
  margin-right: 10px;
}
//加长select
.el-select.el-select--mini.long{}

/* 全局表格居中 */
.el-table thead {
  text-align: center;
}
.el-table thead {
  text-align: center;
}
.el-table td div {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}
.el-table th > .cell{
  text-align: center;
}
.el-table .cell.el-tooltip{
  text-align: center;
}
//input
.input{
  width: 160px;
}

//折叠表格
.hidden{
  .demo-table-expand {
    font-size: 0;
  }
  .demo-table-expand label {
    width: 200px;
    color: #999595;
    text-align: left;
  }
  .demo-table-expand .el-form-item {
    margin-right: 0;
    margin-bottom: 0;
    width: 50%;
    text-align: left;
  }
}
